#card {
  background-color:#005e9e;
  color:white;

  h2 {
    text-align:center;
    text-decoration:underline;
  }

  h4 {
    font-size:22px;

  }
  
  .celular {
    margin-right:25px;
  }

  #creci {
    text-align:center;
    margin-top:25px;
  }
}
